body {
    background-color: #e6e1d9;
    color: #0a0a0a;
    font-family: "Source Sans Pro", Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1, h2, h3 {
    font-family: "Playfair Display", serif;
    font-weight: 700;
  }
  
.header {
  display: flex;
  align-items: center;
  gap: 10px; 
  padding: 10px;
}

.logo {
  width: 50px; 
  height: auto;
}

.imagen-bienvenida {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
